@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400&display=swap');

* {
  font-family: 'Geologica', sans-serif;
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  /* outline: 1px solid black; */
}

.app {
  max-width: 75%;
  margin: auto;
  text-align: center;
  padding-top: 0.5rem;
}

input {
  width: 100%;
  height: 3rem;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.emoji-info-container {
  margin: 1.5rem;
  font-size: 1.2rem;
}

footer {
  padding: 0rem 4rem;
}

.emojis-list-item {
  margin: 1rem;
  font-size: 1.8rem;
  cursor: pointer;
}